.btn-primary,.btn-primary:visited,.btn-primary:focus {
  background-color: green !important;
  color: white!important;
  border: white!important;
  box-shadow: none !important;
}

.btn-primary:hover{
  background-color: white !important;
  color: green !important;
  border: green !important;
  box-shadow: none !important;
}

.navbar {
  background-color: black!important;
}

.dropdown-item:active {
  background-color: green!important;
}
header{
  background: repeating-linear-gradient(#008000 1%, rgb(0,128,0) 44%, white 100%)!important;
}
#work{

}
body{
  width: 100vw !important;
}
.cim{
  text-align: center;
}
div{
  text-align: justify;
}
h2{
  text-align: center;
  padding: 2em;
}
img{
text-align: center !important;
}
.egs{
  background-color: green;
  color:white;
}
#reg{
  padding-top: 0 !important;
  margin-bottom: 1em;
}
#Health{
  padding-top: 1em !important;
}
h3{
  text-align: center;
  padding:2em;
}
#link{
  text-align: center;
  text-decoration: none !important;
  color: white !important;
}
#link:visited,#link:hover,#link:focus,#link:active{
  text-decoration: none !important;
  color: white !important;
}
.dropdown:hover>.dropdown-menu{
  display: block !important;
}
.dropdown>.dropdown-toggle:active{
  pointer-events: none !important;

}
.navbar-light .navbar-nav .nav-link {
  text-transform: uppercase !important;
  text-align: center !important;
  font-size: 13px!important;
  text-decoration: none!important;
  background: white!important;
  color: black!important;
  transition: 0.3s ease!important;
  border-top: 4px solid #FFFFFF!important;
  border-bottom: 4px solid #FFFFFF!important;
  padding: 20px 0!important;
  margin: 0 20px!important;
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link:hover {
  border-top: 4px solid #000000!important;
  border-bottom: 4px solid #000000!important;
  padding: 6px 0px!important;
  background: #11ADE8!important;
}
#Body{
  width: 100vw;
}



section{
  margin-top: 10px!important;
}
html {
  scroll-behavior: smooth!important;
}
.kep{
  height:350px;
  width: 200px;


}
#ksz{
  text-align:center !important;
  padding-top:610px !important;
  padding-left:300px !important;
}

